:root {
  --primary-color: #4AB76C;
  --bslib-color-bg: #4AB76C;
  --navbar-color: #262323;
}

.navbar-dark input[type="search"] {
  background-color: #fff;
  color: #444;
}

.navbar-light .navbar-nav .active > .nav-link {
  background-color: var(--primary-color);
  color: var(--bs-navbar-brand-color);
}

nav .text-muted {
  --bs-secondary-color: var(--navbar-color);
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--navbar-color);
}

button.btn.btn-primary.btn-copy-ex {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.home {
  left: 0px;
  position: absolute;
  padding: 8px 30px;
  color: rgba(255,255,255,0.55);
}

.home:hover {
  color: rgba(255,255,255,0.9);
}
